@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(https://db.onlinewebfonts.com/c/380d7d586b8246b3f65a92e2b82e65c4?family=Forte+W01);
* {
  margin: 10px;
}

body {
  box-sizing: border-box;
}

.contact {
  background-color: #269df0;
  color: white;
  font-family: "Be Vietnam Pro", sans-serif;
  padding: 10px;
  text-align: right;
  font-weight: 200;
  font-size: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 50px;
}

.header .logo {
  font-size: 50px;
  font-family: "Forte W01";
  width: 50%;
}

.header .list-menu {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  margin-right: 50px;
  font-size: 18px;
  padding-bottom: 50px;
}
.header .list-menu .menu {
  text-decoration: none;
  margin-right: 20px;
  color: #888585;
}

.banner {
  background-image: url(./imgs/banner.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  overflow: hidden;
}

.banner .other {
  position: absolute;
  background-color: hsl(204, 4%, 23%);
  left: 0;
  right: 0;
  top: 0;
  color: white;
  width: 80%;
  height: 80%;
  opacity: 0.4;
  margin: auto;
  text-align: center;
}
.banner .other .title {
  font-weight: 600;
  font-size: 40px;
}

.content {
  width: 60%;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-left: 50px;
}

.content .content-detail {
  text-align: justify;
  margin-top: 20px;
}
.footer {
  border: #888585;
}

.footer .title-footer {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  font-family: "Forte W01";
}

.footer {
  display: block;
  justify-content: flex-end;
}

.form {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  float: right;
  width: 50%;
}

.text {
  width: 200px;
  padding: 10px;
  margin-right: 50px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}
.dropbox {
  width: 220px;
  padding: 10px;
  margin-right: 50px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.area {
  width: 490px; /* Bằng tổng 2 input .text và khoảng trống */
  height: 100px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.submit {
  width: 490px;
  background-color: #269df0;
  color: white;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}
